<form id="product-form">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="price" placeholder="Precio">
    <input type="text" name="description" placeholder="Descripción">
    <input type="submit" value="Agregar producto">
</form>
<%- include('./partials/history', {products}) %> 
<script>
    let productform = document.getElementById('product-form');
    
    productform.addEventListener('submit', (e) => {
        e.preventDefault();

        let productinfo = {
            title: productform.title.value,
            price: productform.price.value,
            description: productform.description.value
        };

        if(productinfo.title.length > 0 && productinfo.price.length > 0 && productinfo.description.length > 0) {
            fetch('/products', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: 
                    JSON.stringify(productinfo)
            })
            .then(res => 
                res.json()
            )

            .catch(err => {
                console.log(err)
            } )
        } else {
            alert('Todos los campos son obligatorios');
        }
    } )


</script>