<form id="product-form">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="price" placeholder="Precio">
    <input type="text" name="description" placeholder="Descripción">
    <input type="submit" value="Agregar producto">
</form>
<%- include('./partials/history', {products}) %> 
<script>
    let productform = document.getElementById('product-form');
    
    productform.addEventListener('submit', (e) => {
        e.preventDefault();
        
        newProduct = {
            title: document.getElementById('title').value,
            price: document.getElementById('price').value,
            description: document.getElementById('description').value
        };
        
        if(title.length > 0 && price.length > 0 && description.length > 0) {
            fetch('/products', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title: newProduct.title,
                    price: newProduct.price,
                    description: newProduct.description
                })
            })
            .then(res => 
                res.json()
            )

            .catch(err => {
                console.log(err);
            }
            );
        }
    }
    );
</script>