<form id="product-form">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="price" placeholder="Precio">
    <input type="text" name="description" placeholder="Descripción">
    <input type="submit" value="Agregar producto">
</form>
<%- include('./partials/history', {products}) %> 
<script>
    let productform = document.getElementById('product-form');
    
    productform.addEventListener('submit', (e) => {
        e.preventDefault();
        
        let title = productform.title.value;
        let price = productform.price.value;
        let description = productform.description.value;

        fetch('/products', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title,
                price,
                description
            })
        })
        .then(res => 
            res.json()
        )
        .then(data => {
            console.log(data);
            productform.reset();
            href = '/';
        })
        .catch(err => {
            console.log(err);
        }
        );
    }
    );
</script>