<%- include('./partials/head')  %> 

<body>
    <div>
        <h1>Bienvenidos</h1>
        <%- include('./form')  %> 
    </div>
    <div style="align-items: center; display: flex; justify-content: center;">
        <form id="delete-item-form">
            <input type="number" id="pid" placeholder="ID">
            <input type="submit" value="Eliminar">
        </form>
    </div>
    <div style="align-items: center; display: flex; justify-content: center;">
        <form id="delete-all-items-form">
            <input type="submit" value="Eliminar todos">
        </form>
    </div>
    <div>
        <form onsubmit="return addMessage(this)">
            <input type="email" id="email" placeholder="Email">
            <input type="text" id="texto" placeholder="Message">
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div id="messages">

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>    
    const socket = io.connect();

    let currenttime = new Date();

    function render (data) {
        const html = data.map((elem, index) => {
            return (`<div>
                        <em>${currenttime.getHours()}:${currenttime.getMinutes()}:${currenttime.getSeconds()}</em>
                        <strong>${elem.author}</strong>:
                        <em>${elem.text}</em>
                    </div>`)
            }).join('');
        document.getElementById('messages').innerHTML = html;
    }

    socket.on('messages', function(data) {
        render(data);
    });

    function addMessage(e) {
        // if input fields not empty
        if (e.email.value && e.texto.value) {
            // send data to server
            const mensaje = {
                author: document.getElementById('email').value,
                text: document.getElementById('texto').value
            };
            socket.emit('new-message', mensaje);
            return false;
        } else {
            alert('Please fill all fields');
        }
    }

        
</script>

</body>