<%- include('./partials/head')  %> 

<body>
    <div>
        <h1>Bienvenidos</h1>
        <%- include('./form')  %> 
    </div>
    <div style="align-items: center; display: flex; justify-content: center;">
        <form id="delete-item-form">
            <input type="number" id="delete-item-id" placeholder="ID">
            <input type="submit" value="Eliminar">
        </form>
    </div>
    <div style="align-items: center; display: flex; justify-content: center;">
        <form id="delete-all-items-form">
            <input type="submit" value="Eliminar todos">
        </form>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>    
    const socket = io();

    socket.on('connection', (socket) => {
        console.log('New user connected (from client)');
        socket.on('products', data => {
            console.log(data+'desde socket');
        });
        socket.on('acknowledge', data => {
            console.log(data);
        });
        socket.on('disconnect', () => {
            console.log('User disconnected (from client)');
        }
        );
    });
</script>

</body>