<div>
    <h1>Productos desde Handlebars</h1>
    <div>
        <span id="product-table"></span>
        <span id="log"></span>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>