<% typeof products != 'undefined' ? products : [] %> 
<% if (products.length>0) { %>
    <% products.forEach(product => { %>
        <div style="width:100%;align-items: center;display: flex;justify-content: center;align-content: space-between;flex-direction: column; margin:30px"">
            <ul id="history">
                <li style="color: grey">ID: <%= product.id %></li>
                <li style="font-weight: bold">Título: <%= product.title %></li>
                <li>Precio: U$S <%= product.price %></li>
                <li>Descripción: <%= product.description %></li>
            </ul>
        </div>
    <% }); %>
<% } %>
<!--  -->
<!--  -->
