* {
    font-family: 'Rubik', sans-serif;
    font-family: 300, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f5f5f5;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    background-color: #007c25;
    padding: 0.5em;
    font-weight: 300;
}

form, #table-container {
    text-align: center;
    margin-top: 1em;
}

button {
    background-color: #007c25;
    color: #ffffff;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 1em 0;
}

